<% wrap_layout :layout do %>
  <%= partial "partials/hero" %>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-1">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Namn</p>
                <p class="title"><%= current_page.data.name %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pris</p>
                <p class="title"><%= current_page.data.price %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Installation</p>
                <p class="title"><%= current_page.data.installation %></p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Rank</p>
                <p class="title"><%= current_page.data.rank %></p>
              </div>
            </div>
          </nav>
          <%= yield %>
        </div>
        <div class="column is-2">
          <%= partial "partials/review_sidebar" %>
        </div>
      </div>
    </div>
  </section>
<% end %>
